streamlit
altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
fonttools
gitdb
GitPython
idna
importlib-metadata
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
narwhals
numpy
packaging
pandas
Pillow
protobuf
pyarrow
pydeck
Pygments
Pympler
pyparsing
python-dateutil
pytz
pytz-deprecation-shim
referencing
requests
rich
rpds-py
scikit-learn
scipy
seaborn
six
smmap
streamlit
tenacity
threadpoolctl
toml
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
zipp